[submodule "themes/hq-hugo-theme"]
	path = themes/hq-hugo-theme
	url = https://github.com/hq-apps/hq-hugo-theme.git
[submodule "themes/hq-old-theme"]
	path = themes/hq-old-theme
	url = https://github.com/hq-apps/hq-hugo-theme.git
	branch = olddesign2022
