[submodule "themes/hq-hugo-theme"]
	path = themes/hq-hugo-theme
	url = https://github.com/hq-apps/hq-hugo-theme.git
[submodule "themes/hq-old-theme"]
	path = themes/hq-old-theme
	url = https://github.com/hq-apps/hq-hugo-theme.git
	branch = 8296803fb5d7db9d43e1ad8061e011249fc71923
