<div id="header">
    <div id="headerTop">
        <a href="#">hqapps</a>
        <a href="//saffari.tk">saffari</a>
        <a href="#">Gaymes</a>
        <a href="//hqdl.tk">Downlods</a>
        <a href="/dc">DISCROD! (PLZ DJOIN!!)</a>
        <a href="//bugs.saffari.tk">BOGS</a>
    </div>
    <div id="headerMain">
        <a href="/"><img src="/hqapps.png" alt=""></a>
        <input type="text" id="search">
        <a href="/dc"><img src="/joinn.png" alt=""></a>
    </div>
    <div id="headerBottom">
        <a href="/apps/">EPPS</a>
        <a href="#">GEAMES</a>
        <a href="#">SOCIELZ</a>
        <a href="/contact">CONTACT</a>
        <a href="#">EBOUT US</a>
        <a href="#">QUALITTI STATMENT!</a>
    </div>
</div>