{{ define "main" }}
<a href=".." id="back">< BECK!</a>
    <article class="align-items-center flex-column" style="display: flex; width: 100%;">
        <div class="card" style="width: 100%; max-width: 400px;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="flex-row align-items-center" style="display: flex;">
                    <img src="{{ .Params.icon }}" alt="" class="img-fluid rounded m-2" style="aspect-ratio: 1/1; width: 4em;">
                    <div>
                        <h1 class="card-title" style="margin-bottom: 0;">{{ .Title }}</h1>
                        <p class="card-text"><small class="text-muted">{{ .Params.description }}</small></p>
                    </div>
                </div>
                <button class="btn btn-primary float-end">Instell!</button>
              </li>
              <li class="list-group-item">
                <b>Chenglogg!!</b>
                <p style="margin-bottom: 2px;">Cummink Suun!</p>
              </li>
              <li class="list-group-item">
                {{ .Content }}
              </li>
              <li class="list-group-item">
                <section class="slideshow">
                {{ range .Params.screenshots }}
                <div class="slide-wrapper">
                    <a href="{{ . }}">
                        <div class="slide">
                            <img src="{{ . }}">
                         </div>
                    </a>
                </div>
                {{ end }}
            </section>
              </li>
            </ul>
          </div>
    </article>
    <script src="/js/slideshow_scroll.js"></script>
{{ end }}