body {
    margin: 0;
    background-color: black;
    color: white;
}

#headerTop {
    padding: 10px;
    padding-bottom: 20px;
    font-family: monospace;
    background-image: url("/headerTop.png");
    background-size: contain;
}

#headerTop a {
    background-color: white;
    color: gray;
    padding: 3px;
    margin: 2px;
}

#headerMain {
    height: 60px;
    margin: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerMain * {
    height: 100%;
}

#search {
    background-image: url("/search.png");
    background-size: cover;
    color: white;
    border: none;
    height: 30px;
    width: 500px;
    font-size: large;
}

#headerBottom  {
    margin-left: 23%;
}

#headerBottom a {
    color: #424242;
    font-size: large;
    text-decoration: none;
    font-family: monospace;
    margin-left: 23px;
}

h1 {
    font-family: "Comic Sans MS";
}

main {
    margin: 10px;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}