{{ define "main" }}
<a href=".." id="back">< BECK!</a>
    <article>
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.description }}</p>
         <section class="slideshow">
        {{ range $index, $element := .Params.screenshots }}
        <div class="slide-wrapper">
            <a href="{{ . }}">
                <div class="slide">
                   <img src="{{ . }}" alt="" class="background">
                </div>
            </a>
            <div class="slide-points">
                            {{ range $index2, $element2 := $.Params.screenshots }}
                                <a href="#slide-{{ $index2 }}" class="slide-point {{ if eq $index $index2 }}slide-point-active{{ end }}"></a>
                            {{ end }}
            </div>
        </div>
        {{ end }}

        {{ .Content }}
    </section>
    </article>
{{ end }}