{{ define "main" }}
<a href=".." id="back">< BECK!</a>
<article>
    <div id="app-page-row-1">
        <section id="app-info">
            <div class="app-page-image-wrapper">
                <img src="{{ .Params.icon }}" alt="">
            </div>
            <div>
                <h1>{{ .Title }}</h1>
                <p>{{ .Params.description }}</p>
            </div>
        </section>
        <div id="app-page-button-wrapper">
            <button class="dlbutton">Download</button>
        </div>
    </div>
    <section class="slideshow">
        {{ range $index, $element := .Params.screenshots }}
        <div class="slide-wrapper">
            <a href="{{ . }}" style="cursor: pointer;">
                <div class="slide">
                    <img src="{{ . }}" alt="" class="background">
                </div>
            </a>
            <div class="slide-points">
                {{ range $index2, $element2 := $.Params.screenshots }}
                <a href="#slide-{{ $index2 }}"
                    class="slide-point {{ if eq $index $index2 }}slide-point-active{{ end }}"></a>
                {{ end }}
            </div>
        </div>
        {{ end }}


    </section>
    <section class="app-about">
        <h1>About App</h1>
        <div class="app-about-text">{{ .Content }}</div>
    </section>
    
</article>
        
{{ end }}