<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#000">
    <link rel="apple-touch-icon" href="/icens/192.png">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Page.Title }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}{{ .Page.RelPermalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}hqapps.png" />
    <meta name="description" content="HQ Apps maks bestt epps for ur life!!">
    <meta name="og:description" content="HQ Apps maks bestt epps for ur life!!">
    <meta name="og:site_name" content="{{ .Site.Title }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script defer>

      var titleText = ` ${document.title} `
      titleText = titleText.padEnd(20, "_");
      
      function titleMarquee() {
      
       titleText = titleText.substring(1, titleText.length) + titleText.substring(0, 1);
       document.title = titleText
       
       }

       setInterval("titleMarquee()", 250);
       
      
      </script>
      <script src="/js/app.js" defer></script>
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {{ partial "header" . }}
    <main>
    {{ block "main" . }}

    {{ end }}
    </main>
    {{ partial "footer" . }}

    {{ block "extra" . }}

    {{ end }}
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
      new Crate({
        server: '980942825124413440',
        channel: '987812489800597584',
        glyph:["/help.png", "3rem"],
        notifications: true,
        indicator: true
      })
    </script>
</body>
</html>