@font-face {
    font-family: "Saffari Sans";
    src: url("https://raw.githubusercontent.com/hq-apps/saffari-sans/main/Saffari%20Sans.ttf");
  }
  @font-face {
    font-family: "Sussy Sans";
    src: url("https://raw.githubusercontent.com/hq-apps/saffari-sans/main/Sussy%20Sans.ttf");
  }

body {
    margin: 0;
    background-image: url("/bgstar.gif");
    color: white;
    height: 100vh;
    font-family: "Sussy Sans";
}

#headerTop {
    padding: 10px;
    padding-bottom: 20px;
    font-family: monospace;
    background-color: gray;
    background-image: url("/headerTop.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    box-sizing: border-box;
}

#headerTop a {
    background-color: white;
    color: gray;
    padding: 3px;
    margin: 2px;
}

#headerMain {
    height: 60px;
    margin: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 50px;
}

#headerMain * {
    height: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000095;
    border-bottom: #80808032 1px solid;
    backdrop-filter: blur(8px) saturate(10);
    overflow: hidden;
}

#search {
    background-image: url("/search.png");
    background-size: cover;
    color: white;
    border: none;
    height: 30px;
    width: 500px;
    max-width: 50%;
    font-size: large;
}

#headerBottom a {
    color: #424242;
    font-size: large;
    text-decoration: none;
    font-family: monospace;
    margin-left: 23px;
}

h1 {
    font-family: "Saffari Sans";
}

main {
    padding: 15px;
    margin: 10px;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00000095;
    border: #80808032 1px solid;
    backdrop-filter: blur(8px) saturate(10);
    box-sizing: border-box;
    overflow-x: scroll;
}

#footer {
    padding: 10px;
    padding-bottom: 20px;
    font-family: monospace;
    background-color: gray;
    background-image: url("/footer.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#footer a {
    background-color: white;
    color: gray;
    padding: 3px;
    margin: 2px;
}

#list a, #back {
    color: white;
    text-decoration: none;
}

.slideshow {
    width: 100%;
    height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    isolation: isolate;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    cursor: none;
}

.slide-wrapper > a {
    cursor: none;
}

.slideshow .slide-wrapper, .slide {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.slide {
    position: relative;
    scroll-snap-align: center;
}

.slide .infoarea {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.slide-wrapper {
    position: relative;
}

.slide-points {
    position: absolute;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
}

.slide-point {
    width: 10px;
    height: 10px;
    background-color: red;
    margin-left: 3px;
    margin-right: 3px;
}

.slide-point-active {
    background-color: lime;
}

#cursor {
    position: fixed;
    display: none;
    cursor: none;
}

@media (max-width: 400px) {
    #headerMain {
        gap: 5px;
    }
    main {
        width: 100vw;
        margin: 0;
    }
    #search {
        display: none;
    }
}

.gform {
    display: flex;
    flex-direction: column;
    color-scheme: dark;
}

.gform > * {
    padding: 8px;
    margin: 4px;
}

.gform #msg {
    height: 50vh;
}