<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        new Crate({
          server: '980942825124413440',
          channel: '987812489800597584',
          glyph:["/help.png", "3rem"],
          notifications: true,
          indicator: true
        })
      </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Page.Title }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}{{ .Page.RelPermalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}hqapps.png" />
    <meta name="description" content="HQ Apps maks bestt epps for ur life!!">
    <meta name="og:description" content="HQ Apps maks bestt epps for ur life!!">
    <meta name="og:site_name" content="{{ .Site.Title }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style-store.css">
    <link rel="stylesheet" href="/slideshow.css">
</head>
<body>
    <main class="m-3">
    {{ block "main" . }}

    {{ end }}
    </main>
    {{ partial "footer" . }}

    {{ block "extra" . }}

    {{ end }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>