{{ define "main" }}
    <h1>MOST BEST!</h1>

    <section class="slideshow">
        {{ range $index, $element := $.Site.Data.homepage.mostbest.gudpages }}
        <div class="slide-wrapper">
            <a href="{{ .URL }}">
                <div class="slide" onlick="window.location.href = '{{ .URL }}'">
                    <div class="infoarea" id="slide-{{ $index }}">
                        <h1>{{ .Title }}</h1>
                        <p>{{ .Description }}</p>
                   </div>
                   <img src="{{ .img }}" alt="" class="background">
                </div>
            </a>
            <div class="slide-points">
                            {{ range $index2, $element2 := $.Site.Data.homepage.mostbest.gudpages }}
                                <a href="#slide-{{ $index2 }}" class="slide-point {{ if eq $index $index2 }}slide-point-active{{ end }}"></a>
                            {{ end }}
            </div>
        </div>
        {{ end }}
    </section>
    
    
    <script src="/js/slideshow_scroll.js"></script>
    <script src="/js/cursor.js" defer></script>
    <script>window.location = "/apps"</script>
{{ end }}

{{ define "extra" }}
<div id="cursor"><img src="/clickhere.gif" alt=""></div>
{{ end }}