{{ define "main" }}

    {{ .Content }}
    <article class="align-items-center flex-column" style="display: flex; width: 100%;">
        <h1>{{ .Page.Title }}</h1>
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}" style="width: 100%; max-width: 400px;">
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-0">
              <div class="col">
                <img src="/hqapps.png" class="img-fluid rounded m-2" alt="..." style="aspect-ratio: 1/1; width: 6em;">
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h5 class="card-title">{{ .Title }}</h5>
                  <p class="card-text"><small class="text-muted">{{ .Params.description }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </a>
        {{ end }}
    </article>
    
{{ end }}